<div>
    <!-- <div *ngIf="reviews.length > 0 "> -->
        <div *ngFor="let r of reviews; let idx=index">

            <div *ngIf="r.image">
                <img [src]="r.image" style="width: 100px;">
            </div>
            <div *ngIf="!r.image">
                <img src="/assets/placeholder.jpg">
            </div>

            <div>
                <h3>
                    <a [href]="r.reviewURL"></a><u>{{r.title + r.rating}}</u>
                </h3>
                <p>{{r.headline}}</p>
                <p>{{'Summary: ' +r.summary}}</p>
                <p>{{'Comments:' + r.commentCount}}</p>
            </div>
            <div>
                <button type="button" [routerLink]="['/comment']"
                [queryParams]="{title: r.title}">Comment</button>
                <br>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="!(reviews.length > 0)">
        <h2> Your Search produces no result</h2>
    </div> -->
<!-- </div> -->
 
    
